body{
    background-color: #494949;
}


.game{
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    background-image: url(assets/background.gif);
    background-size: 600px 200px;
}

#dino{
    width: 32px;
    height: 32px;
    background-image: url(assets/character.gif);
    background-image: 32px 32px;

    position: relative;
    top: 10px;
    left: 10px;

    z-index: 1;
}

.jump {
    animation: jump 0.4s linear;
}


@keyframes jump {
    0% {
        top: 10px;
    }

    30% {
        top: -50px;
    }

    50% {
        top: -70px;
    }

    80% {
        top: -50px;
    }

    100% {
        top: 10px;
    }
}


#cactus {
    width: 32px;
    height: 32px;
    position: relative;
    top: -23px;
    left: 570px;

    background-image: url(assets/trash.png);

    z-index: 0;
}

.cactusmovetier1 {
    animation: block 1s infinite linear;
}

.cactusmovetier2{
    animation: block 0.8s infinite linear;
}

.cactusmovetier3{
    animation: block 0.6s infinite linear;
}

#text{
    position: relative;
    left: 200px;
    top: -40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#score{
    position: relative;
    left: 10px;
    top: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
}

#bestscore{
    position: relative;
    left: 100px;
    top: -42px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ae82a3;
}

.hide{
    z-index: -10;
}

@keyframes block {
    0% {
        left: 570px;
    }

    100% {
        left: -32px;
    }
}

.title{
    text-align: center;
    color:#ae82a3 ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
